@use "../globals" as *;

* {
  box-sizing: border-box;
}

body {
  font-family: $font-base;
  font-size: rem(15);
  line-height: 1.6;
  color: $color-text;
  background-color: $color-background;
}

main {
  display: block;
}

section {
  padding-block: $spacing-2xl;
}

a {
  color: inherit;
  text-decoration: none;
}